.profile-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}

.profile-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.profile-section p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666;
  text-align: center;
}

.profile-section button {
  margin-bottom: 10px;
  width: 200px;
}

.profile-section h2,
.profile-section p,
.profile-section button {
  text-align: center; 
}

.profile-welcome-note {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.profile-hr {
  border: 1px solid lightblue;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pro-avatar {
  border-radius: 50%;
  margin-left: 20px;
}
